<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aplicativo de Vendas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @{
        var absPath = HttpContext.Current.Request.Url.AbsolutePath;
    }
</head>
<body>
    <div class="navbar navbar-header navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(absPath.Contains("Categorias") ? "active" : "")">@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                    <li class="@(absPath.Contains("Fornecedores") ? "active" : "")">@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                    <li class="@(absPath.Contains("Produtos") ? "active" : "")">@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                    <li class="@(absPath.Contains("Vendas") ? "active" : "")">@Html.ActionLink("Vendas", "Index", "Vendas")</li>
                    <li class="@(absPath.Contains("Itens") ? "active" : "")">@Html.ActionLink("Itens", "Index", "Itens")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplicativo de Vendas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
